body {
  background-color: #f5f5f5;
}
header a:hover {
  background: none;
}
.search-bar {
  background: white;
  border: 1px #d9d9d9 solid;
}
.search-bar-text {
  color: #8b8b8b;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  word-wrap: break-word;
  cursor: pointer;
}
input::placeholder {
  color: #8b8b8b;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  word-wrap: break-word;
}

.search-btn {
  width: 60px;
  height: 42px;
  background-color: #fa9370;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-right: -17px;
}

.search-btn img {
  padding: 8px 17px;
  cursor: pointer;
}

.wishlist {
  margin-right: 15px;
}

.user {
  margin-right: 15px;
}

.cart-span {
  position: absolute;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  background-color: #fa9370;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  font-family: "roboto", sans-serif;
  bottom: 60px;
  right: 60px;
}

.ext {
  border: none;
  outline: none;
}

.pn {
  border: none;
  outline: none;
}
.dropdown ul li {
  width: 336px;
}
.sec-nav ul li a {
  color: #6a6a6a;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
#sec-nav-li li {
  padding-right: 13px;
  color: #fff !important;
}
#sec-nav-li li a {
  font-family: Roboto;
  color: #8b8b8b;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.offcanvas-body ul li {
  color: black !important;
}
.sec-nav {
  color: #fff;
  background: #fa9370;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.sec-nav .btn {
  background: #fa9370;
  border: none;
  font-size: 20px;
  font-weight: 600;
}
.sec-nav .btn:active {
  background: none !important;
}
.select-category {
  outline: none !important;
}
.outline-none {
  outline: none !important;
}
.breadcrumb-section nav ol li a {
  color: #626262 !important;
  font-family: "SF Pro Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  text-decoration: none;
  padding: 0 10px 0 10px;
}
.line {
  color: 1px #d2d2d2 !important;
}
.breadcrumb-section nav #active {
  color: #242424 !important;
  font-family: "SF Pro Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.breadcrumb-section nav #active a {
  color: #626262 !important;
  font-family: "SF Pro Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.selling-products {
  border-radius: 25px;
  background: #fff;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
}
.selling-products-header h3 {
  color: #269199;
  font-family: Roboto;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.selling-products-img .cards h5 {
  color: #242424;
  font-family: "SF Pro Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.selling-products-img .cards p {
  color: #a8a8a8;
  font-family: "SF Pro Display";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 0.5 !important;
  text-transform: capitalize;
}
.cards {
  width: 20%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 770px) {
  .cards {
    width: 50% !important;
  }
}
@media screen and (max-width: 450px) {
  .cards {
    width: 100% !important;
    margin-top: 20px !important;
  }
  .cards img {
    width: 150px !important;
    height: 175px !important;
  }
  .selling-products-img .cards h5 {
    font-size: 30px;
  }
  .selling-products-img .cards p {
    font-size: 20px;
  }
  .bottom-footer p {
    font-size: 16px !important;
  }
  .filters {
    width: 162px !important;
    height: 29px !important;
  }
}

@media screen and (max-width: 992px) {
  .cards {
    width: 25%;
  }
}

/* Sorting Section */
.sorting {
  border-radius: 25px;
  background: #fff;
}
.sorting h2 {
  color: #269199;
  font-family: Roboto;
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.result-title {
  color: #242424;
  font-family: "SF Pro Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.sort {
  color: #6a6a6a;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.cat-list {
  color: #6a6a6a;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: lowercase;
  width: 110px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #ff8258;
  background: #fff;
}
.sort-icon {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  width: 40px;
  height: 35px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #ff8258;
  background: #fff;
  cursor: pointer;
}
.sorting {
  background: #fff;
}
.brand h4,
.filterd h4,
.price-filter h4,
.hyphen {
  color: #242424;
  font-family: "SF Pro Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.filters {
  width: 184px;
  height: 29px;
  flex-shrink: 0;
  border-radius: 174px;
  border: 1px solid #ff8258;
  background: #fff;
  color: #888;
  margin-top: 20px;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ellipse-6 img {
  width: 16px;
  height: 16px;
  fill: #d9d9d9;
  margin-left: 10px;
}
.close-filter {
  color: #ff8258;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gap-5 {
  gap: 75px !important;
}
.gap-2 {
  gap: 5px !important;
}
.x a {
  position: absolute;
  transform: translate(185%, -100%);
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: lowercase;
  cursor: pointer;
  text-decoration: none;
}
.filter-icon-1 {
  width: 46px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #ff8258;
  background: #fff;
  color: #a4a4a4;
  font-family: "SF Pro Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.price-filter .filter-icon-2 {
  width: 66px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #ff8258;
  background: #fff;
  color: #a4a4a4;
  font-family: "SF Pro Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.price-filter .filter-icon-3 {
  width: 33px;
  height: 32px;
  border-radius: 5px;
  background: #ff8258;
}
.price-filter input,
input::placeholder {
  color: #a4a4a4;
  font-family: "SF Pro Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.sort-cards .card-body h4 {
  color: #000;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.sort-cards .card-body .sale-price {
  color: #ff8258;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.sort-cards .card-body .sale-del-price {
  color: #a4a4a4;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  text-decoration: line-through;
}
@media screen and (max-width: 767px) {
  .sorting .result-title {
    font-size: 19px;
  }
  .sort {
    font-size: 18px;
  }
}

footer {
  background: #ffeedb;
  margin-top: 200px;
}
.bottom-footer {
  background: #269199;
}
.bottom-footer p {
  color: #fff;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.product-reviews-bottom .pag {
  padding: 10px 20px 0px 0px;
  width: 100%;
  background: #fff;
}
.product-reviews-bottom .pag nav ul {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 10px;
  width: 100% !important;
  border-radius: 10px;
}
.product-reviews-bottom .pag nav ul li .page-link {
  border: none !important;
}
.pag nav ul li a {
  color: #999 !important;
  border-width: 0px !important;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.product-reviews-bottom .pag nav ul li .next-botton a {
  border-radius: 5px;
  background: #d8d8d8;
}
.product-reviews-bottom .pag nav ul li .next-botton a:hover {
  background: #d8d8d8;
}
.product-reviews-bottom .pag nav ul li a:focus {
  box-shadow: none !important;
}
.product-reviews-bottom .pag nav ul li a:hover {
  background: none;
}
.product-reviews-bottom .pag nav ul .active > .page-link {
  border-radius: 5px;
  color: #fff !important;
  background: #ff8258 !important;
}
footer .top-footer h2 {
  color: #000;
  margin-bottom: 20px;
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
footer ul li {
  padding: 3px 0px;
  list-style: none;
}
footer ul li a {
  color: #6a6a6a;
  font-family: Roboto;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  text-decoration: none;
}
footer a:hover {
  color: #ff8258;
  background: none;
}

/* Responsive style */
@media screen and (min-width: 450px) and (max-width: 646px) {
  .bottom-footer p {
    font-size: 20px !important;
  }
}

@media screen and (min-width: 767px) and (max-width: 992px) {
  .total-products-filter .view {
    padding-left: 1rem !important;
  }
  .brand h4,
  .filterd h4,
  .price-filter h4 {
    font-size: 20px !important;
  }
  .price-filter {
    margin-top: 30px !important;
    padding-left: 0px !important;
  }
  .sort-icon,
  .sort-box span {
    margin-top: 15px !important ;
  }
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .sort-icon,
  .sort-box span {
    margin-top: 15px !important ;
  }
}
@media screen and (min-width: 280px) and (max-width: 767px) {
  .total-products-filter .sort-section {
    margin-top: 30px !important;
  }
  .total-products-filter .view {
    padding-left: 1rem !important;
  }
  .pag nav {
    margin-left: 65px !important;
  }
  .brand h4,
  .filterd h4,
  .price-filter h4 {
    font-size: 20px !important;
  }
  .price-filter {
    margin-top: 30px !important;
    padding-left: 0px !important;
  }
  .filterd {
    margin-top: 30px !important;
  }
  .close-filter {
    margin-top: 30px !important;
  }
}
@media screen and (max-width: 400px) {
  .pag nav ul li a {
    color: #999 !important;
    border-width: 0px !important;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
  }
  .sorting h2 {
    color: rgb(38, 145, 153);
    font-family: Roboto;
    font-size: 40px !important;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
  }
  .sorting .result-title {
    font-size: 16px;
  }
  .selling-products-header h3 {
    color: #269199;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
  }
  .bottom-footer p {
    font-size: 11px !important;
  }
  .breadcrumb-section nav #active a {
    color: #626262 !important;
    font-family: "SF Pro Display";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
  .breadcrumb-section nav #active {
    color: #242424 !important;
    font-family: "SF Pro Display";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
  }
}
